.circle {
  stroke-width: 1px;
  stroke: black;
  opacity: .8
}
.bubbles:hover {
  stroke: black;
}

.tooltip ul{
  list-style-type: none;
  text-align:center;
  margin: 0;
  padding: 0;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

hr.divider {
  background-color: rgb(161, 159, 159);
  border: solid 1px rgb(161, 159, 159);
  border-radius: 5px;
  width: 95%

}