<!DOCTYPE html>
 <html lang="en">
 
 <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
 
     <title>Portfolio Optimizer</title>

 
     <!-- Bootstrap core CSS -->
     <link href="static/css/bootstrap.min.css" rel="stylesheet">
 
     <!-- Custom styles for this template -->
     <link href="static/css/style.css" rel="stylesheet">
     
     <!--<script src="static/js/jquery-1.9.0.js"> </script> -->
     <!-- Load JQuery from CDN -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     <!-- Load helper functions from local JS -->
     <script src="static/js/script.js"> </script>

     <!-- Select2 Search Bar -->
     <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
     <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" rel="stylesheet" />

     <!-- Scripts to laod for D3 Chart-->
     <script src="static/js/chart.js"> </script>
     <script src="static/js/d3.v5.min.js"></script>
     <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

     <script>
         var stock_data = '{{ stocks|tojson }}';
         //console.log(stock_data)
    </script>
 
 </head>
 
 <body>
    <div class="container-fluid">
        <h3>Stock Screener</h3>
        <h4>(Tech Stack: Tableau and HTML iFrame)</h4>
        <hr class="divider">
        <!-- Tableau Chart -->
        <div class='tableauPlaceholder' id='viz1574294564474' style='position: relative'>
            <noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BT&#47;BTTDHR5R3&#47;1_rss.png' style='border: none' /></a>
            </noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='path' value='shared&#47;BTTDHR5R3' />
                <param name='toolbar' value='yes' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BT&#47;BTTDHR5R3&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
            </object>
        </div>
            <script type='text/javascript'>
                var divElement = document.getElementById('viz1574294564474');
                var vizElement = divElement.getElementsByTagName('object')[0];
                if ( divElement.offsetWidth > 800 ) {
                    vizElement.style.width='1300px';vizElement.style.height='827px';}
                else if ( divElement.offsetWidth > 500 ) {
                    vizElement.style.width='1300px';vizElement.style.height='827px';}
                else { vizElement.style.width='100%';vizElement.style.height='1377px';}
                var scriptElement = document.createElement('script');
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                vizElement.parentNode.insertBefore(scriptElement, vizElement);
            </script>
        <!-- Portfolio Optimizer  -->
        <h3 style="margin-top:50px">Portfolio Optimizer</h3>
        <h4>(Tech Stack: Python, Flask, Ajax and JavaScript/D3)</h4>
        <hr class="divider">
        <div class="row">
            <div class="col-xs-4">
                <span>Select stocks from the list below and click submit to optimize your portfolio.</span>
                    <!-- <form class="form-signin" action="/optimize" method="post" role="form"> -->
                    <form id="stock_form" action="/optimize" method="post" role="form" class="needs-validation" novalidate>
                        <div class="form-group">
                                <label for="stockselection">Select stocks</label>
                                <select id="stock_selector" class="search-bar" name="stocks" multiple="multiple"></select>
                                <small id="stockhelp" class="form-text text-muted">Select a minimum of 5 and a maximum 15 stocks</small>
                        </div>
                        <div class="form-group">
                                <label for="capital">Capital to invest</label>
                                <!-- <input name="capital" class="form-control" value= "100000" placeholder="Capital" required> -->
                                <input class="form-control" name="capital" placeholder="100000" value= "100000" required>
                                
                        <!-- <input type="checkbox" name="check_test" class="form-control" value="my_value" placeholder="Checkbox" required> -->
                        </div>
                        <div class="form-group">
                            <label for="risklevel">Risk Level</label>
                            
                            <input type="range" class="form-control-range" min="0" max="2" name="risklevel" id="risklevel">
                            <label for="conservative" class="pull-right" style="font-weight:normal;">Aggressive</label>
                            <label for="happy" class="pull-left" style="font-weight:normal;">Conservative</label>
                        </div>
                        <button class="btn btn-primary btn-block submit-button" type="submit" style="margin-top: 50px">Submit</button> 
                        <div id="error_msg" class="invalid-feedback" style="visibility: hidden; color: red; margin-top: 10px">Please enter a value</div>
                        <!-- <button class="submit-button" type="button">Submit</button> -->
                        
                        
                    </form>
            </div>  
            <div class="col-xs-8">
                <div class="chart"></div>
            </div>
        </div>
    </div>   
 </body>
 
 </html>